openai
python-dotenv
sounddevice==0.4.6
soundfile==0.12.1
numpy==1.26.4
pyttsx3
webrtcvad==2.0.10
elevenlabs
pvporcupine==3.0.2
duckduckgo-search
pytz
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
urllib3<2.0
supabase==2.5.0
pvleopard==2.0.1
thefuzz==0.22.1 