openai
python-dotenv==1.0.1
sounddevice==0.4.6
soundfile==0.12.1
numpy==1.26.4
pyttsx3
webrtcvad==2.0.10
elevenlabs
pvporcupine==3.0.2
duckduckgo-search
pytz==2024.1
google-auth-oauthlib==1.2.0
google-auth-httplib2
urllib3<2.0
supabase==2.5.0
pvleopard==2.0.1
thefuzz==0.22.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO
python-socketio[client]
eventlet
google-api-python-client==2.130.0
SpeechRecognition==3.10.3
twilio
notion-client==2.2.0
pyngrok==7.1.6 